node_modules/
.env
.DS_Store
dist/
build/
.npm
firebase-service-account.json
backend/firebase-service-account.json
backend/public/uploads/
*.mp4
*.tmp

# Firebase Config
backend/src/config/firebaseServiceAccount.json

# Agents
.agents/
